body {
  padding-top: 54px;
  font-family: 'Poppins', serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.fa-bars {
  color:#EEEEEE;
  padding-top: 5px;
}

.navcolor {
  background-color: #003262
}

nav {
  font-family: 'Arvo', serif;
}

nav a {
  color: #EEEEEE;
  font-size: 19px;
  text-decoration: none;
}

nav a:hover{
  color: #FDB515;
  /*border-bottom: 5px solid purple;*/
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

#opacity {
  background-color: 'black';
  opacity: 1;
  box-shadow: 1em;
}
